@import "~@angular/material/theming";

@include mat-core();
$basic: mat-palette($mat-grey);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: mat-color($basic, 800);
  color: mat-color($basic, 400);
}

.page-content {
  .mat-divider {
    margin: 10px 0;
  }

  p {
    padding: 10px;
  }

  .mat-progress-bar-buffer {
    background-color: #f8bbd0;
  }

  .mat-stepper-vertical {
    margin-top: 8px;
    height: calc(100vh - 100px);
    overflow: auto;
  }

  .mat-vertical-content {
    padding: 0 24px 10px 24px;
  }

  .mat-step-header .mat-step-label.mat-step-label-active {
    color: mat-color($basic, 500);
  }

  .mat-step-header .mat-step-label.mat-step-label-selected {
    color: mat-color($basic, 100);
  }

  .step-control {
    .mat-raised-button.mat-primary, .mat-raised-button.mat-accent {
      font-size: 10px;
      height: 25px;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}
